* {
  box-sizing: border-box
}

#header {
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

.text-box h1 {
  font-family: 'BlackJack', sans-serif;
  color: rgb(247, 244, 244);
  font-size: 120px;
  font-style: bold;
  font-variant: small-caps;
  font-weight: 700;
  line-height: 80px;
}

.text-box p {
  margin: 20px 0 40px;
  font-size: 15px;
  color: #fff;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 0px solid #525252;

  padding: 12px 34px;
  font-size: 20px;
  position: relative;
  cursor: pointer;
  transition: 1s;
  text-align: center;
  font-family: 'Elvishlis', sans-serif;
}

.hero-btn:hover {
  border: 1px solid #424242;
  background: #363636;
  color: white;
}

.video-cover {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  -o-filter: blur(30px);
    filter: blur(30px);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  
}

/* page content */
h1,
h2 {
  color: white;
  font-family: 'Elvishlis', sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 20px 0 40px;
  font-size: 20px;
}

h3 {
  color: white;
  font-weight: lighter;
  text-align: center;
  margin: 20px 0 40px;
  font-size: 20px;
}

h4 {
  color: white;
  font-family: 'Elvishlis', sans-serif;
  text-align: center;
  font-weight: lighter;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
}

@media (max-width: 750px) {
  #background-video {
    height: 100vh;
    width: 5vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  body {
    background: no-repeat;
    background-size: cover;
  }
}

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;

  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}


#aboutme {
  text-align: top;
  overflow-y: auto;
  scroll-behavior: smooth;
  width: 100%;;
  position: relative;
}

.contact-text {
  text-align: center;
  margin-bottom: 1%;
  font-family: 'Elvishlis', sans-serif;
}

.icons .fa {
  color: #ffffff;
  margin: 0 13px;
  cursor: pointer;
  padding: 15px 0;
  height: 5rem;
  text-align: center;
  font-size: 2.75em;
  text-align: center;

}

.card {
  color: white;
  width: 100%
}

.card h3 {
  font-size: 2rem;
  text-align: center;
  font-family: 'Elvishlis', sans-serif;
  font-weight: 120;

}

.card img {
  width: 100%;

}

.project-2-img {
  height: 76%;
}

.card img:hover {
  opacity: 80%;

}

.project-btn {

  margin-bottom: 10px;

  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #525252;
  padding: 12px 34px;
  font-size: 20px;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: 1s;


  font-family: 'Elvishlis', sans-serif;
}

.project-btn:hover {
  border: 1px solid #363636;
  background: #363636;
}

.cards {
  max-width: 1800px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}



/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2 1fr);
  }
}

@media (max-width: 1000px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    height: 350px;
    text-align: center;
  }

  .card h2 {
    font-size: 10px;
  }

  .card img {
    height: 250px;

  }

  .project-btn {

    margin-left: 95px;
    text-align: center;
  }
}

@media (min-width: 1000px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    height: 350px;
    text-align: center;
  }

}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }

  .card {
    height: 350px;
    text-align: center;
  }
}



.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;

}

.footer h4 {
  margin-bottom: 25px;

  font-size: 18px;
  color: white;
  font-weight: normal;

}

.icons .fa {
  color: #ffffff;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
  height: 1rem;
  text-align: center;
  font-size: 2.75em;
}

#Portfolio-Flexi {
  border-color: white;

}

.expanding-flex-cards {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  justify-content: center;
}

.expanding-flex-cards>.expanding-flex-cards-item {
  height: 70vh;
  width: 10%;
  position: relative;
  background: transparent;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 15px;

  margin-bottom: 50px;
  padding: 20px 10px;
  box-shadow: 0px 2px 11px #ffffff52;
  transition: all .3s ease;
}

.expanding-flex-cards>.expanding-flex-cards-item.active {
  width: 400px;
  height: 400px
}

.expanding-flex-cards>.expanding-flex-cards-item:not(.active) {
  cursor: pointer;
  height: 400px
}

.expanding-flex-cards>.expanding-flex-cards-item:hover:not(.active) {
  transform: scale(1.05);
}

.expanding-flex-cards>.expanding-flex-cards-item>img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.expanding-flex-cards>.expanding-flex-cards-item>.expanding-flex-cards-item-footer {
  bottom: 20px;
  z-index: 1;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  transition: all .3s ease;
}

.expanding-flex-cards>.expanding-flex-cards-item:not(.active)>.expanding-flex-cards-item-footer {
  bottom: 12px;
  left: calc(50% - 15px);
  max-height: calc(25%);
  overflow: hidden;
}

.expanding-flex-cards>.expanding-flex-cards-item>.expanding-flex-cards-item-footer>.expanding-flex-cards-icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #464444;
  border-radius: 50% 50%;
  font-size: 16px;
  font-weight: bolder;
  box-shadow: 0px 1px 5px #00000021;
  transition: all .3s ease;
}

.expanding-flex-cards>.expanding-flex-cards-item>.expanding-flex-cards-item-footer>.expanding-flex-cards-title {
  padding: 0px 10px;
  text-shadow: 0px 1px 3px #1616168f;
  display: none;
  color: white;
  font-size: 40px;
  font-family: 'Elvishlis', sans-serif;
  transition: all .3s ease;

}

.expanding-flex-cards>.expanding-flex-cards-item.active>.expanding-flex-cards-item-footer>.expanding-flex-cards-title {
  display: block;
  padding: 0px 10px;
  text-shadow: 0px 1px 3px #1616168f;
  text-align: center;
}

.expanding-flex-cards>.expanding-flex-cards-item>.expanding-flex-cards-item-body {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 34px);
  height: calc(75% - 20px);
  padding: 20px 17px;
  overflow: auto;
  align-items: center;
  justify-content: center;
  color: white;
}

.expanding-flex-cards>.expanding-flex-cards-item>.expanding-flex-cards-item-body p {
  text-align: center;
  font-size: 16px;
  width: 100%;
  font-weight: 500;
  font-family: 'Elvishlis', sans-serif;
  font-style: italic;
  color: rgb(246, 241, 241);

}

.expanding-flex-cards>.expanding-flex-cards-item.active>.expanding-flex-cards-item-body {
  display: flex;
  transform: scale(0);
  animation: expanding-flex-cards-item-body-reveal .8s ease forwards;
}

h1 {
  font-family: Brush Script MT, Brush Script Std, cursive;
}

.text-center {
  text-align: center;
  font-size: 50px;
  color: white;
}

@keyframes expanding-flex-cards-item-body-reveal {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

body {
  background-color: #eee
}

.wrap {
  margin: 50px auto 0 auto;
  width: 90%;
  display: flex;
  justify-content: center;

  max-width: 3000px;
}

.tile {
  width: 90%;
  height: 400px;
  margin: 10px;
  align-content: center;
  text-align: center;
  background-size: cover;
  position: center;
  cursor: pointer;
  transition: all 0.4s ease-out;
  overflow: hidden;
  color: white;
 font-family: 'Elvishlis', sans-serif;
  box-shadow: 1px 40px 77px -17px rgba(0, 0, 0, 0.64);
  transform: scale(1.05);

}

.tile img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.4s ease-out;
  opacity: 0.2;
}

.tile .text {
  /*   z-index:99; */
  position: absolute;
  padding: 20px;
  top: 5%;
  height: calc(100% - 30px);
  font-size: 20px;
}

.tile h1 {
  font-weight: 300;
  margin: 0;
  color: white;
  font-size: 40px;
  position: relative;
  top: 0px;

}

.tile h2 {
  font-weight: 100;
  margin: 20px 0 0 0;
  font-style: italic;
  transform: translateX(200px);
}

.tile p {
  font-weight: 500;
  font-size: 15px;
  margin: 20px 0 0 0;
  line-height: 25px;
  opacity: 0;

  color: white;
}

.animate-text {
  font-weight: 500;
  font-size: 15px;
  margin: 20px 0 0 0;
  line-height: 25px;
  opacity: 0;

}

.tile:hover {
  /*   background-color:#99aeff; */
  box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
  transform: scale(1.05);
}

.tile:hover img {
  opacity: 0.2;
}

.tile:hover .animate-text {
  transform: translateX(0);
  opacity: 1;
}

.dots {
  position: absolute;
  bottom: 7%;
  left: 40%;
  margin: 0 auto;
  width: 60px;
  height: 70px;
  color: currentColor;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;

}

.dots span {
  width: 70px;
  height: 70px;
  background-color: currentColor;
  border-radius: 50%;
  display: block;



}

.tile:hover span {
  opacity: 1;
  transform: translateY(0px);
}

.dots span:nth-child(1) {
  transition-delay: 0.05s;
}

.dots span:nth-child(2) {
  transition-delay: 0.1s;
}

.dots span:nth-child(3) {
  transition-delay: 0.15s;
}


@media (max-width: 1000px) {
  .wrap {
    flex-direction: column;
    width: 400px;
  }
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;

  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.wrapper {
  width: 50%;
  }
  .container {
  height: 0;
  width: 100%;
  padding-bottom: 50%;
  overflow: hidden;
  position: relative;
  }
  .container iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  }


.grid-container {
  columns: 5 200px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
}
.grid-container div {
  width: 150px;
  margin: 0 1.5rem 1.5rem 0;
  display: inline-block;
  width: 100%;
  border: solid 2px black;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
.grid-container div:hover img {
  filter: grayscale(0);
}
.grid-container div:hover {
  border-color: coral;
}
.grid-container div img {
  width: 100%;
  filter: grayscale(100%);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
.grid-container div p {
  margin: 5px 0;
  padding: 0;
  text-align: center;
  font-style: italic;
}