body {
  font-family: 'Elvishlis', sans-serif;
}

.sidepanel  {
  width: 0%;
  position: fixed;
  z-index: 1;
  height: 700px;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 12px 15px;
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  transition: 0.3s;
  display: flex;
  align-items: right;
  margin: 10px 0;
  border-radius: 8px;
}

.sidepanel a:hover {
  background-color: #f4f5f7;
  color: #111;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 24px;
}

.openbtn {
  font-size: 48px;
  cursor: pointer;
  background-color:transparent;
  color: white;
  padding: 1px 5px;
  border: none;
  left:2%;
  margin-left:1px;
  top:0%;
}

.openbtn:hover {
  background-color:transparent;
}
.logo {
  color: #fff;
  font-size: 50px;

  padding-top: 30px;
  padding-bottom: 10px;
  text-align: left;
}
.logo .logo-name {
  color: hsl(190, 76%, 56%); 
  font-size:50px;
  text-align: left;
  font-family: 'BlackJack', sans-serif;
  font-weight: bold;
 }
 .button-group {
  display: inline-block;
  background-color: transparent;
}
button {
  padding-bottom: 5px;
  background-color: transparent;
  border: none;
 
  width: 40px;
  height: 40px;
}
