@-webkit-keyframes fade {
  0% {
      opacity: .4
  }

  to {
      opacity: 1
  }
}

@keyframes fade {
  0% {
      opacity: .4
  }

  to {
      opacity: 1
  }
}

* {
  box-sizing: border-box
}

#SubPageHeader {
  min-height: 20vh;
  width: 100%;
  height: 20%;
 /* background-size: cover; */
  position: relative;
  overflow: hidden;

  background-color: black;
}

.text-box {
  width: 30%;
  color: #fff;
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: right
}

.text-box h1 {
  font-family: "BlackJack", sans-serif;
  top: 40%;
  color: #d51c1c;

  font-size: 80px;
  font-style: bold;
  width: 10%;
}
.text-box h2 {
font-family: "Elvishlis", sans-serif;
color: #f7f4f4;
font-size: 40px;
font-style: bold;
}

.text-box p {

  font-size: 15px;
  color: #fff;
  height: 10%;
  text-align: center;
}

.text-sub-box {
  width: 100%;
  color: #fff;
  position: relative;
  top: 50%;
  height: 50%;
  width: auto;

}
.text-sub-box h1 {
  font-family: "BlackJack", sans-serif;
  color: #d51c1c;
  font-size: 50px;
  font-style: bold;
  left: 50%;
  top: 20%;
 
}
.text-sub-box h2 {
  font-family: "Elvishlis", sans-serif;
  color: #f7f4f4;
  font-size: 40px;
  font-style: bold;
  left: 50%;
  top: 30%;
}

.text-sub-box p {
font-family: "Elvishlis", sans-serif;
color: #f7f4f4;
font-size: 14px;
font-style: bold;
top: 10%;
left: auto;
width: auto;
text-align: center;
}

/* menu*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 400px;
  width: 70%;
  margin: auto;
  position: fixed;
  
}

.navbar {
  width: 15%;


}
  
.nav-container {
 
  align-items: center;
  height: 52px;
  z-index: 1;
}

.navbar .menu-items {
  width:auto;
  background: #ce0808;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #d4dde3;
  font-weight: 100;
  font-size: 1.2rem;
  padding: 0.1rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  height: 550px;
  width: 550px;
  position: fixed;
 
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background:  #ea4141;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 90px;
  padding-bottom: 70px;
  padding-left: 30px;;
  box-shadow: inset 0 0 1000px rgba(20, 20, 20, 0.5);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  flex-direction: column;
  left:30%;
  transition: transform 0.5s ease-in-out;
  
}

.navbar .menu-items li {
  /* margin-bottom: 1.0rem;
  font-size: 1.0rem;
  font-weight: 8px; */

}
.navbar .menu-items li a{
  margin-bottom: 1.2rem;
  text-align: left;
  font-size: 20px;
}

.logo {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: #0e2431;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}


.video-cover {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  -o-filter: blur(30px);
  filter: blur(30px);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1
}

h1 {
  font-family: Brush Script MT, Brush Script Std, cursive
}

h1,
h2,
h3,
h4 {
  color: #fff
}

h1,
h2 {
  font-weight: 700;
  font-size: 3rem
}

h2 {
  font-family: "Elvishlis", sans-serif
}

h3,
h4 {
  font-weight: lighter
}

h1,
h2,
h3 {
  margin: 20px 0 40px;
  font-size: 20px
}

h4 {
  font-family: "Elvishlis", sans-serif
}

@media (max-width:750px) {
  #background-video {
      height: 100vh;
      width: 5vw;
      object-fit: cover;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1
  }

  body {
      background: no-repeat;
      background-size: cover
  }
}

.numbertext,
.text {
  color: #f2f2f2;
  padding: 8px 12px;
  position: absolute
}

.text,
h1,
h2,
h3,
h4 {
  text-align: center
}

.text {
  font-size: 15px;
  bottom: 8px;
  width: 100%
}

.numbertext {
  font-size: 12px;
  top: 0
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color .6s ease
}

.active,
.dot:hover {
  background-color: #717171
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s
}

@media (min-width:600px) {
  .cards {
      grid-template-columns: repeat(2 1fr)
  }
}

@media (max-width:1000px) {
  .cards {
      grid-template-columns: repeat(1, 1fr)
  }

  .card {
      height: 350px;
      text-align: center
  }

  .card h2 {
      font-size: 10px
  }

  .card img {
      height: 250px
  }

  .project-btn {
      margin-left: 95px;
      text-align: center
  }
}

@media (min-width:1000px) {
  .cards {
      grid-template-columns: repeat(2, 1fr)
  }

  .card {
      height: 350px;
      text-align: center
  }
}

@media (min-width:900px) {
  .cards {
      grid-template-columns: repeat(4, 1fr)
  }

  .card {
      height: 350px;
      text-align: center
  }
}

.footer {
  width: 100%;
  padding: 30px 0;
  bottom: 1%;
  position: absolute
}

.footer h4 {
  margin-bottom: 25px;
  font-size: 18px;
  color: #fff;
  font-weight: 400
}

.footer,
.icons .fa,
.text-center {
  text-align: center;
  color: #fff
}

.icons .fa {
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
  height: 1rem;
  font-size: 2.75em
}

.text-center {
  font-size: 50px
}


#social-sidebar {
left: 1%;
position: absolute;
top: 30%;
z-index: 2
}

#social-sidebar li:first-child a {
border-top-right-radius: 5px
}

#social-sidebar li:last-child a {
border-bottom-right-radius: 5px
}

#social-sidebar a {
background: rgba(31,30,30,.7);
color: #fff;
text-decoration: none;
display: block;
height: 50px;
width: 50px;
font-size: 24px;
line-height: 50px;
position: relative;
text-align: center;
cursor: pointer
}

#social-sidebar a:hover span {
left: 120%;
opacity: 1
}

#social-sidebar a span {
font: 12px"Poppins",sans-serif;
text-transform: uppercase;
border-radius: 3px;
line-height: 24px;
left: -100%;
margin-top: -16px;
opacity: 0;
padding: 4px 8px;
position: absolute;
transition: opacity .3s,left .4s;
top: 50%;
z-index: -1
}

#social-sidebar a span:before {
display: block;
height: 8px;
width: 8px;
left: -4px;
margin-top: -4px;
position: absolute;
top: 50%;
transform: rotate(45deg)
}

#social-sidebar a[class*=instagram] span,
#social-sidebar a[class*=instagram] span:before,
#social-sidebar a[class*=instagram]:hover{
  background: #ea4c89
}

#social-sidebar a[class*=flickr] span,
#social-sidebar a[class*=flickr] span:before,
#social-sidebar a[class*=flickr]:hover{
  background: #ea4c89
}

#social-sidebar a[class*=youtube] span,
#social-sidebar a[class*=youtube] span:before,
#social-sidebar a[class*=youtube]:hover {
  background: #ea4c89
}

#social-sidebar a[class*=images] span,
#social-sidebar a[class*=images] span:before,
#social-sidebar a[class*=images]:hover {
  background: #ea4c89
}

#social-sidebar a[class*=paw] span,
#social-sidebar a[class*=paw] span:before,
#social-sidebar a[class*=paw]:hover {
  background: #ea4c89
}

#social-sidebar a[class*=plane] span,
#social-sidebar a[class*=plane] span:before,
#social-sidebar a[class*=plane]:hover {
  background: #ea4c89
}

#social-sidebar a[class*=panorama] span,
#social-sidebar a[class*=panorama] span:before,
#social-sidebar a[class*=panorama]:hover {
  background: #ea4c89
}

#social-sidebar a[class*=user] span,
#social-sidebar a[class*=user] span:before,
#social-sidebar a[class*=user]:hover {
  background: #ea4c89
}



a,a:active,a:focus,a:hover {
  text-decoration: none;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  outline: 0;
  font-weight: 500
}

li {
  list-style: none
}

p {
  line-height: 1.9;
  color: #636363;
  font-size: 16px;
  font-weight: 400
}

img {
  width: 10%;
  height: auto
}

ul,ul li {
  margin: 0;
  padding: 0
}
img.hover-shadow {
transition: 0.3s;
}

.hover-shadow:hover {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bg-overlay {
  position: relative;
  z-index: 1
}

.bg-overlay::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0,0,0,.4)
}

.bg-img {
  background-position: center center!important;
  background-size: cover!important;
  background-repeat: no-repeat!important
}

#Portfolio {
  min-height: 100vh;
  font-family: "Elvishlis",sans-serif;
  background-color: #100f0f;
  display: grid;
  box-sizing: border-box;
  text-align: top;
  scroll-behavior: smooth;
  width: 100%;
  position: relative;
  overflow-y: hidden;
  top: 30%;
}
.grid-container {

  columns: 2 ;
  left: 20%;
  column-gap: 1.0 rem;
  width: 80%;  
  margin-left: auto;
margin-right: auto;
  text-align: center;
}

.grid-container div,.grid-container div img {
  width: 100%;
  border-radius: 1px;
  left:50%;

  transition: all .25s ease-in-out
}

.grid-container div {
  margin: 0 1.5rem 1.5rem 0;
 
  border: solid 2px #cb1e1e;
  padding: 1px;
  left:50%;
  right:50%;
 
  box-shadow: 5px 5px 5px rgba(183, 4, 4, 0.5)
}

.grid-container div:hover img {
  filter: grayscale(0)
}

.grid-container div:hover {
  border-color: #d5410f
}

.grid-container div img {
  filter: grayscale(100%);

  
}

.grid-container div p {
  margin: 5px 0;
  padding: 0;
  text-align: center;
  font-style: italic
}


#Subgallery{
left: 15%;
position: absolute;
top: 40%;
z-index: 2;
scroll-behavior: smooth;
}
.row > .column {
padding: 0 1px;
width: 25%;
display: cover;


padding: 10px;
margin: auto;

}

.row:after {
content: "";
display: block;
clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
float: left;
width: 25%;
}

/* The Modal (background) */
.modal {
display: none;
position: fixed;
z-index: 1;
padding-top: 100px;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: black;

}

/* Modal Content */
.modal-content {
position: relative;
background-color: #0c0b0b;
margin: auto;
padding: 0;
width: 100%;
max-width: 800px;
display: block;
}

/* The Close Button */
.close {
color: white;
position: absolute;
top: 10px;
right: 25px;
font-size: 35px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #999;
text-decoration: none;
cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
display: none;
}

/* Next & previous buttons */
.prev,
.next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -50px;
color: white;
font-weight: bold;
font-size: 20px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
right: -10%;
border-radius: 3px 0 0 3px;
}
.prev {
left: -10%;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* Caption text */
.caption-container {
text-align: center;
background-color: black;
padding: 2px 16px;
color: rgb(5, 4, 4);
}

img.demo {
opacity: 0.6;
}

.active,
.demo:hover {
opacity: 1;
}

img.hover-shadow {
transition: 0.3s;
}

.hover-shadow:hover {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Footer {
width: 100%;
text-align: center;
padding: 30px 0;
background-color: rgb(42, 40, 40);
color: #fff;

}

.footer h4,.footer p {
margin-bottom: 5px;
font-size: 18px;
color: #fff;
font-weight: 400;


}

.footer p {
font-size: 16px;
bottom: 10%;
color: #fff;

}