#Felidae, #Forest-N, #Fauna, #FF {
  padding: 30px 0;
  position: relative;
  top:20%;
}
.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  }

.text-box h1 {
  font-family: 'Elvishlis', sans-serif;
  color: rgb(247, 244, 244);
  font-size: 80px;
  font-style: bold;
  font-variant: small-caps;
  font-weight: 700;
  line-height: 80px;
}
.text-box h2 {
  font-family: 'Elvishlis', sans-serif;
  color: rgb(247, 244, 244);
  font-size: 50px;
  font-style: bold;
  top:90%;
  font-variant: small-caps;
  font-weight: 700;
  line-height: 80px;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4 {
  margin-bottom: 5px;
  font-size: 18px;
  color: white;
  font-weight: normal;
}

.footer p {
  margin-bottom: 5px;
  font-size: 16px;
  color: white;
  font-weight: normal;
}

.gallery {
  width: 1200px;
  margin: 0 auto;
  padding: 5px;
  background: transparent;
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  display: grid;
  width: 300px;
  height: 200px;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 100;
}

.gallery > div:hover > img {
  transform: scale(4,4);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

h1 {
  margin: 40px 0;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}